node_modules
client
dist
coverage
*.log
.idea
.iml

.DS_Store

admin.env
_meta

.m2/
.classpath
.project
.settings/

bak
/src/bddTest/resources/features/-unassignedFeatures/
/src/bddTest/resources/environments/localEnv.properties
/src/bddTest/resources/features/-UnassignedFeatures
/target/
